<a href="https://colab.research.google.com/github/SaulTO7/Mineria_De_Datos/blob/main/EJERCICIOS_DE_PYTHON_SAUL_TORRES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Saul Angel Torres Guerrero 
# Matricula:1842161
# Ejercicios de Mineria texto en negrita

> Bloque con sangría

## TUPLAS

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [1]:
#https://ellibrodepython.com/booleano-python
#https://ellibrodepython.com/numeros-complejos
vflot=2.0
vint=7
vboo=True
vcom=5+5j
print(type(vflot))
print(type(vint))
print(type(vboo))
print(type(vcom))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [2]:
tup=(10,11,12,13,17)
print(tup[0])
print(tup[4])

10
17

Añadir 3 valores de string a la tupla

In [3]:
tup=(11,12,13,14,15)
tup=tup.__add__((29,20,21,))
print(tup)

(11, 12, 13, 14, 15, 29, 20, 21)

Verificar si una variable existe dentro de la tupla

In [4]:
#https://www.delftstack.com/es/howto/python/python-check-if-variable-exists/
tup=(11,12,13,14,15)
tup=tup.__add__((20,21,22,))
if 'tup' in globals():
    print ("tup: variable exist")
else:
    print ("tup: variable does not exist")

tup: variable exist

# LISTAS

Crear una lista con 40 elementos aleatorios enteros.

In [8]:
#https://j2logo.com/python/generar-numeros-aleatorios-en-python/
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
print(lista)
print("\nCantidad de números aleatorios en la lista:",len(lista))

[66, 12, 31, 11, 20, 32, 22, 82, 63, 6, 94, 32, 57, 26, 39, 44, 44, 28, 53, 27, 90, 81, 28, 34, 21, 58, 1, 76, 49, 72, 99, 46, 47, 33, 100, 37, 74, 96, 51, 27]

Cantidad de números aleatorios en la lista: 40

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [10]:
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
class f: #Función
  def parimp(Alista): #Par e impar ;Alista=Agregar lista
    npares=[] #npares= números pares
    nimpares=[] #nimpares= números impares
    j=0
    while j<=len(Alista)-1:
      if Alista[j]%2==0:
        npares.append(Alista[j])
      else:
        nimpares.append(Alista[j])
      j=j+1
    print("\nNúmeros pares: ",npares)
    print("\nNúmeros impares: ",nimpares)
f.parimp(lista)

Números pares:  [62, 36, 2, 78, 64, 98, 94, 32, 100, 88, 38, 50, 2, 18, 56, 48, 100, 36, 30, 90, 76, 100, 2]

Números impares:  [79, 45, 59, 81, 45, 47, 35, 17, 9, 99, 79, 23, 83, 99, 15, 19, 77]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [22]:
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
class f: #Función
  def parimp(Alista): #Par e impar ;Alista=Agregar lista
    npares=[] #npares= números pares
    nimpares=[] #nimpares= números impares
    j=0
    while j<=len(Alista)-1:
      if Alista[j]%2==0:
        npares.append(Alista[j])
      else:
        nimpares.append(Alista[j])
      j=j+1
    x=len(npares)
    y=len(nimpares)
    print("Cantidad de números pares:",x,"\nNúmeros pares: ",npares)
    print("\nCantidad de números impares:",y,"\nNúmeros impares: ",nimpares)
f.parimp(lista)

Cantidad de números pares: 23
Números pares:  [18, 42, 50, 22, 92, 16, 14, 38, 58, 12, 70, 46, 10, 24, 36, 100, 80, 28, 68, 14, 88, 82, 100]

Cantidad de números impares: 17
Números impares:  [59, 95, 81, 29, 71, 43, 33, 19, 61, 35, 65, 39, 49, 53, 47, 57, 19]

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor

In [24]:
#https://j2logo.com/python/ordenar-una-lista-en-python/
import random
lista=[]
i=1
while i<=40:
  lista.append(random.randint(1,100))
  i=i+1
class f: #Función
  def parimp(Alista): #Par e impar ;Alista=Agregar lista
    npares=[] #npares= números pares
    nimpares=[] #nimpares= números impares
    j=0
    while j<=len(Alista)-1:
      if Alista[j]%2==0:
        npares.append(Alista[j])
      else:
        nimpares.append(Alista[j])
      j=j+1
    npares.sort(reverse=True)
    nimpares.sort()
    x=len(npares)
    y=len(nimpares)
    print("Cantidad de números pares:",x,"\nNúmeros pares: ",npares)
    print("\nCantidad de números impares:",y,"\nNúmeros impares: ",nimpares)
f.parimp(lista)

Cantidad de números pares: 18
Números pares:  [100, 98, 96, 92, 90, 90, 90, 82, 80, 76, 72, 62, 54, 36, 20, 12, 4, 2]

Cantidad de números impares: 22
Números impares:  [5, 5, 9, 13, 17, 19, 27, 31, 43, 51, 63, 63, 63, 69, 73, 85, 89, 89, 93, 93, 93, 97]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos

In [27]:
lista.append(100)
lista.reverse()
lista.pop()
lista.extend([0,-4])
lista

[100,
 -2,
 -1,
 51,
 82,
 93,
 93,
 69,
 76,
 89,
 73,
 9,
 13,
 31,
 93,
 19,
 90,
 80,
 63,
 63,
 97,
 90,
 43,
 98,
 89,
 2,
 5,
 63,
 92,
 17,
 27,
 100,
 36,
 85,
 12,
 5,
 54,
 90,
 96,
 4,
 72,
 20,
 -1,
 -2,
 0,
 -4]

# DICCIONARIOS

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [28]:
L1={'SAUL':20,'MADELINE':21,'NORA':39,'FELICIA':12,'KARINA':50,'TOMI':10}

{'FELICIA': 12,
 'KARINA': 50,
 'MADELINE': 21,
 'NORA': 39,
 'SAUL': 20,
 'TOMI': 10}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [29]:
listad1=[]
listad1.append(d1['SAUL'])
listad1.append(d1['MADELINE'])
listad1.append(d1['NORA'])
listad1.append(d1['FELICIA'])
listad1.append(d1['KARINA'])
listad1.append(d1['TOMI'])
listad1.sort()
listad1

[10, 12, 20, 21, 39, 50]

Usando el diccionario y un loop, imprimir solo los nombres.

In [32]:
#https://devcode.la/tutoriales/diccionarios-en-python/
for key in d1:
  print (key)

SAUL
MADELINE
NORA
FELICIA
KARINA
TOMI

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [34]:
d1["LUPE"]="34"
d1["RUBEN"]="27"
d1

{'FELICIA': 12,
 'KARINA': 50,
 'LUPE': '34',
 'MADELINE': 21,
 'NORA': 39,
 'RUBEN': '27',
 'SAUL': 20,
 'TOMI': 10}

# SETS

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [35]:
set100={1}
i=1
set100.remove(1)
while i<=100:
  set100.add(random.randint(1,25))
  i=i+1

Comprueba la longitud de tu set.

In [36]:
len(set100)

24

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [40]:
lista5=[]
i=1
while i<=5:
  lista5.append(random.randint(1,10))
  i=i+1
i=0
while i<=4:
  print("\nEl número ",lista5[i]," está en el set de 100 nuumeros?")
  print(lista5[i] in set100)
  i=i+1

El número  2  está en el set de 100 nuumeros?
True

El número  4  está en el set de 100 nuumeros?
True

El número  1  está en el set de 100 nuumeros?
True

El número  8  está en el set de 100 nuumeros?
True

El número  8  está en el set de 100 nuumeros?
True